@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
</div>

<div class="card-columns row d-flex justify-content-center">
    @foreach(var product in Model.Products)
    {
        <div class="card col-4 m-3">
            <div class="card-img" style="background-image:url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title text-center">@product.Title</h5>
            </div>
        </div>
    }
</div>
